<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <title>google-plugins Demo</title>

    <script src="../platform/platform.js"></script>
    <link rel="import" href="google-plugins.html">
  </head>
  <body unresolved>

    <p>A <code>&lt;google-plusone-button></code>:</p>
    <google-plusone-button size="tall"></google-plusone-button><br><br>

    <p>A <code>&lt;google-profile-badge></code>:</p>
    <google-profile-badge profile="+GerwinSturm" layout="landscape"></google-profile-badge><br><br>

    <p>Using <code>&lt;google-plugin></code> directly:</p>
    <google-plugin
      type="post"
      data='{"href": "https://plus.google.com/115133653231679625609/posts/fBYq9G8U9ZS"}'
    ></google-plugin><br><br>

  </body>
</html>
